body {
    background: #f3f4f6;
    padding: 60px, 30px, 100px;
    margin: 80px auto;
    font-family: Arial, sans-serif;
    padding: 0;
}

h2, h3{
    color: #1e40af;
    margin-bottom: 20px;
}

form {
    background: white;
    margin: 80px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"]{
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background: #1e40af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #3749b1;
}

table{
    width: 100%;
    margin: 80px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: #1e40af;
    color: white;
}

td, a{
    color: #1e40af;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

a.back-link {
    color: #1e40af;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

a.back-link:hover {
    color: #2563eb;
}